* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    background: #e8e8e8;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 999;
    display: inline-block;
}

.navbar a.logo {
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 2em;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a {
    color: #6d6d6d;
    font-size: 17px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    text-transform: uppercase;
}

.navbar a.active {
    color: #000000;
    transition: .5s;
}

.navbar a:hover {
    color: #000000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.mobile-menu {
    transform: scale(var(--ggs,2));
}

.mobile-menu,
.mobile-menu::after,
.mobile-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1em;
    height: 0.1em;
    border-radius: 3px;
    background: #000000;
}

.mobile-menu::after,
.mobile-menu::before {
    content: "";
    position: absolute;
    top: 0.2em;
}

.mobile-menu::after {
    top: 0.2em;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }

    .navbar {
        position: fixed;
        z-index: 999;
        display: inline-block;
    }

    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #d1d1d1;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul li a {
        font-size: 1.2em;
    }

    .navbar a:hover,a.active {
        background: none;
        color: #000000;
    }

    #check:checked ~ ul {
        left: 0;
    }

}

@media (max-width: 515px) {
    .navbar {
        width: 32em !important;
    }

    .navbar ul { 
        width: 32em !important;
    }
    .navbar a.logo {
        font-size: 1.4em !important;
    }
    
    .section-home {
        width: 32em !important;
    }

    .section-page {
        width: 32em !important;
    }
    
    .section-page h1 {
        font-size: 2em !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0.2em !important;
        top: 50% !important;
    }

    .section-home {
        width: 32em !important;
    }

    .section-content {
        width: 32em !important;
        padding-left: 2em !important;
        padding-right: 2em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .section-content h1 {
        font-size: 1.8em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .card-quotes {
        max-width: 28em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .card-quotes-details {
        width: 28em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .see-more {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .pagination {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    
    .section-content p.about {
        font-size: 0.8em !important;
        text-align: justify !important;
        line-height: 1.2em !important;
        text-indent: 2em !important;
    }

    .footer {
        width: 32em !important;
    }
    
    .social-container {
        width: 100% !important;
        gap: 1em !important;
        padding: 1em !important;
    }

    .social {
        padding: 0 !important;
        width: 2.5em !important;
        height: 2.5em !important;
    }

}

@media (max-width: 380px) {
    .navbar {
        width: 22em !important;
    }

    .navbar ul { 
        width: 22em !important;
    }
    .navbar a.logo {
        font-size: 1.4em !important;
    }
    
    .section-home {
        width: 22em !important;
    }

    .section-page {
        width: 22em !important;
    }
    
    .section-page h1 {
        font-size: 2em !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0.2em !important;
        top: 50% !important;
    }

    .section-home {
        width: 22em !important;
    }

    .section-content {
        width: 22em !important;
        padding-left: 2em !important;
        padding-right: 2em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .section-content h1 {
        font-size: 1.8em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .card-quotes {
        max-width: 18em !important;
    }

    .card-quotes-details {
        width: 18em !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .see-more {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .pagination {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    
    .section-content p.about {
        font-size: 0.8em !important;
        text-align: justify !important;
        line-height: 1.2em !important;
        text-indent: 2em !important;
    }

    .footer {
        width: 22em !important;
    }
    
    .social-container {
        width: 100% !important;
        gap: 1em !important;
        padding: 1em !important;
    }

    .social {
        padding: 0 !important;
        width: 2.5em !important;
        height: 2.5em !important;
    }

}

.section-home {
    height: 32em;
    background-color: #000000;
    box-sizing: border-box;
}

.section-home .slideshow-container {
    position: relative;
    width: 100%;
    height: 32em;
    overflow: hidden;
}

.section-home .slide {
    position: absolute;
    width: 100%;
    height: 32em;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.section-home .slide:first-child {
    opacity: 1;
}

.section-home .dots {
    position: absolute;
    bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-home .dot {
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.section-home .dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.section-content {
    padding: 1em 6em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
    box-sizing: border-box;
    display: inline-block;
    background-color: #e8e8e8;
}

.section-content h1 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

.section-content p.about {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    color: #000;
    text-indent: 3em;
}

.section-content p.message {
    font-size: 1.1em;
    text-align: center;
    font-weight: 400;
    color: #000;
}

.section-content .container {
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 100%;
    margin: auto;
    white-space: nowrap;
    margin-top: 1em;
}

.card-person {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    position: relative;
    width: 300px;
    height: 384px;
    display: inline-flex;
    margin-left: 1.4em;
    margin-right: 1.4em;
    margin-top: 1em;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
}

.card-person-img {
    height: 192px;
    width: 100%;
}

.card-person-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.card-person-avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
}

.card-person-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.card-person-title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
}

.card-person-subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
}

.card-person-btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
}

.card-person-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
}

.card-category {
    position: relative;
    width: 310px;
    height: 225px;
    border-radius: 10px;
    display: inline-flex;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding: 10px 30px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: 50%;
}

.card-category-heading {
    font-size: 1.6em;
    font-weight: 1000;
    color: #000000;
}

.white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.card-category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card-category:hover .card-category-overlay {
    opacity: 1;
    pointer-events: auto;
}

.card-category .card-category-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    border: none;
    opacity: 0;
    scale: 0;
    transform-origin: 0 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-category:hover .card-category-btn {
    opacity: 1;
    scale: 1;
}

.card-category .card-category-btn:hover {
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card-category .card-category-btn:active {
    scale: 0.95;
}

.card-category-overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: linear-gradient(-45deg, #f89b2980 0%, #000000 100% );
    transition: transform 0.5s ease;
}

.card-category:hover .card-category-overlay::after {
  transform: translate(-50%, -50%) scale(2);
}

.card-category-bg1 {
    background-image: url('img/bestfriend.jpg');
}

.card-category-bg2 {
    background-image: url('img/confidence.jpg');
}

.card-category-bg3 {
    background-image: url('img/courage.jpg');
}

.card-category-bg4 {
    background-image: url('img/death.jpg');
}

.card-category-bg5 {
    background-image: url('img/dream.jpg');
}

.card-category-bg6 {
    background-image: url('img/education.jpg');
}

.card-category-bg7 {
    background-image: url('img/encouraging.jpg');
}

.card-category-bg8 {
    background-image: url('img/experience.jpg');
}

.card-category-bg9 {
    background-image: url('img/family.jpg');
}

.card-category-bg10 {
    background-image: url('img/friendship.jpg');
}

.card-category-bg11 {
    background-image: url('img/funny.jpg');
}

.card-category-bg12 {
    background-image: url('img/girl.jpg');
}

.card-category-bg13 {
    background-image: url('img/happiness.jpg');
}

.card-category-bg14 {
    background-image: url('img/heartbreak.jpg');
}

.card-category-bg15 {
    background-image: url('img/inspirational.jpg');
}

.card-category-bg16 {
    background-image: url('img/intelligence.jpg');
}

.card-category-bg17 {
    background-image: url('img/journey.jpg');
}

.card-category-bg18 {
    background-image: url('img/kindness.jpg');
}

.card-category-bg19 {
    background-image: url('img/knowledge.jpg');
}

.card-category-bg20 {
    background-image: url('img/learning.jpg');
}

.card-category-bg21 {
    background-image: url('img/life.jpg');
}

.card-category-bg22 {
    background-image: url('img/love.jpg');
}

.card-category-bg23 {
    background-image: url('img/motivation.jpg');
}

.card-category-bg24 {
    background-image: url('img/nature.jpg');
}

.card-category-bg25 {
    background-image: url('img/opportunity.jpg');
}

.card-category-bg26 {
    background-image: url('img/optimistic.jpg');
}

.card-category-bg27 {
    background-image: url('img/patience.jpg');
}

.card-category-bg28 {
    background-image: url('img/peace.jpg');
}

.card-category-bg29 {
    background-image: url('img/positive.jpg');
}

.card-category-bg30 {
    background-image: url('img/quality.jpg');
}

.section-page {
    position: relative;
    width: 100%;
    height: 16em;
    box-sizing: border-box;
    background-size: cover;
}

.page-quotes {
    background-image: url("img/quotes.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 35%;
}

.page-category {
    background-image: url("img/category.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 55%;
}

.page-author {
    background-image: url("img/author.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 65%;
}

.page-about {
    background-image: url("img/about.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.section-page h1 {
    position: absolute;
    margin: 0;
    font-size: 3em;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #ffffff;
}

.card-quotes {
    max-width: 22em;
    height: 13em;
    display: inline-flex;
}

.card-quotes p.quotes-text {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    color: #000;
    margin-bottom: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-quotes p.author {
    font-size: 1em;
    color: #666;
    bottom: 1.4em;
    position: absolute;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: #ffffff;
    font-family: courier, sans;
}

.card-quotes-a {
    width: 22em;
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card-quotes-a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card-quotes-a:hover:before {
    transform: scale(35);
    transition: all 0.4s ease-in-out;
}

.card-quotes-a:hover p.quotes-text {
    transition: all 0.3s ease-out;
    color: #ffffff;
}

.card-quotes-a:hover p.author {
    transition: all 0.3s ease-out;
    color: rgba(0, 0, 0, 0.9);
}

.quotes-details {
    max-width: 67em;
    /* height: 15em; */
    /* display: inline-flex; */
}

.card-quotes-details {
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.quotes-details p.quotes-text-details {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    color: #000;
    margin-bottom: 1em;
    white-space: pre-line;
    overflow: hidden;
}

.quotes-details p.author-details {
    font-size: 1em;
    color: #666;
}


.see-more button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
    border: 1px solid #F2BED1;
    padding: 10px 20px;
    margin: 2em auto 2em auto;
}

.see-more button > svg {
    margin-left: 5px;
    transition: all 0.4s ease-in;
}

.see-more button:hover > svg {
    font-size: 1.2em;
    transform: translateX(6px);
}

.see-more button:hover {
    box-shadow: 10px 10px 40px #d1d1d1;
    transform: translateY(-5px);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
 padding: 8px 16px;
 border: none;
 cursor: pointer;
 margin: 0 5px;
 outline: none;
}

.pagination button:hover {
    background-color: #eee;
}

.pagination .prev,
.next {
    background-color: #f1f1f1;
}

.pagination .active {
    background-color: #333;
    color: #ffffff;
}

.card-about {
    width: 65em;
    height: 15em;
    color: #ffffff;
    display: inline-flex;
    gap: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.card-about .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}

.card-about .item:hover {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}

.card-about .item svg {
    width: 6em;
    height: 4em;
    margin-bottom: 7px;
}

.card-about .about1 {
    background: #c7c7ff;
    color: rgba(149,149,255,1);
}

.card-about .about2 {
    background: #ffd8be;
    color: rgba(252,161,71,1);
}

.card-about .about3 {
    background: #a9ecbf;
    color: rgba(66,193,110,1);
}

.card-about .about4 {
    background: #f3bbe1;
    color: rgba(220,91,183,1);
}

.card-about .quantity {
    font-size: 2.5em;
    font-weight: 600;
    color: #ffffff;
}

.card-about .text {
    font-size: 1.8em;
    font-family: inherit;
    font-weight: 700;
}

.form-container {
    max-width: 60em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #464646;
    padding: 2em;
    border-left: 5px solid #00c8d0;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.form-container .heading {
    display: block;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-container .form .input {
    color: #d1d1d1;
    width: 100%;
    background-color: #5d5d5d;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.form-container .form .input:focus {
    border-left: 5px solid #00c8d0;
}

.form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #5d5d5d;
    color: #00c8d0;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
    border-left: 5px solid #00c8d0;
}

.form-container .form .button-container {
    display: flex;
    gap: 10px;
}

.form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #00c8d0;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #00c8d0;
    color: #00c8d0;
}

.form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #00c8d0);
    flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #00c8d0;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #00c8d0;
    color: #001925;
}

.success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 60em;
    padding: 12px;
    display: none;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #FCE8DB;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.success-icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success-icon path {
    fill: #84D65A;
}

.success-title {
    font-weight: 500;
    font-size: 14px;
    color: #393A37;
}

.success-close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success-close path {
    fill: #393A37;
}



.footer {
    background-color: #6d6d6d;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
    padding: 20px 40px;
}

.social {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
}

.github:hover {
    background: linear-gradient(45deg, #872429, #0b4039, #007061);
}

.instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}

.twitter:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}

.discord:hover {
    background: linear-gradient(45deg, #0d46c1, #2566f3, #7ca4fa);
}

.social svg {
    fill: #ffffff;
    height: 20px;
}

